*
{
    margin: 0;
    padding: 0;
}
*+*
{
    margin-bottom: .5rem;
}

body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
h3
{
    text-align: center;
    color: magenta;
}
.progressBar
{
    width: 90%;
    background-color: red;
    height:1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills-title
{
    font-weight: bold;
}
.skill-level
{
    border-radius: .5rem;
        text-align: center;
        color: red;
        font-weight: bold;
        height: 1rem;
        background-color: aqua;
        /*  */
}
.skills-level-html {
    width: 90%;
}
.skills-level-python {
    width: 50%;
}

.body-wrapper
{

    

}
@media (min-width:550px)
{
    .body-wrapper
    {
        width: 40rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0px 0px 1px white;
    }
}